@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

body {
  background-color: #003;
  font-family: 'Roboto Mono';
  margin-top: 10px;
  text-align: center;
}

h1 {
  font-size: min(4.1vw);
  padding-bottom: 40px;
  margin-top: 10px;
  color: lime;
}

h2 {
  font-size: 30px;
  margin-bottom: -5px;
  color: white;
}

#login {
  position:    absolute;
  left:        50%;
  top:         50%;
  width:       350px;
  height:      350px;
  margin-left: -175px;
  margin-top:  -175px;
}

input {
  width: 220px;
  height: 35px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Roboto Mono';
  color: white;
  background-color: #003;
  border: 1px solid white;
  font-weight: 200;
  text-indent: 5px;
}

input:focus {
  outline: none;
}

#login_button {
  width: 226px;
  height: 41px;
  display: block;
  border: none;
  border-radius: 2px;
  background: white;
  color: #003;
  font-size: 16px;
  margin: auto;
  font-family: 'Roboto Mono';
  cursor: pointer;
  margin-bottom: 10px;
}

#login_button:focus { 
  outline: none;
}

#login_button:active {
  background: #ddd;
}

#create_account {
  color: lime;
  font-size: 14px;
  text-decoration: underline;
}

.or {
  display: inline-block;
  margin-top: 8px;
  color: white;
}

#continue {
  margin-top: 5px;
  color: lime;
  font-size: 14px;
  text-decoration: underline;
}

p {
  color: white;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #003 inset !important;
    -webkit-text-fill-color: white !important;
}