@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

body {
  background-color: #003;
  font-family: 'Roboto Mono';
  padding: 1%;
  padding-top: calc(1% + 73px);
}

h2 {
  display: inline-block;
  font-size: 40px;
  color: lime;
  margin: 7px 20px;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #003;
  border-bottom: lime 3px solid;
}

#navmenu {
  display: inline-block;
  float: right;
  display: inline;
  font-size: 20px;
  color: lime;
  margin: 30px 20px;
}

#navmenu a {
  margin-left: 20px;
  text-decoration: none;
  color: lime;
}

#graphic {
  display: inline-block;
  border: 3px solid white;
  width: calc(59.5% - 9px);
  height: 500px;
  float: left;
}

#menu {
  display: inline-block;
  border: 3px solid white;
  width: calc(39.5% - 9px);
  height: 500px;
  float: right;
}

#holdings {
  display: inline-block;
  border: 3px solid white;
  width: calc(100% - 6px);
  height: 300px;
  margin-top: calc(1% + 6px);
}